#[submodule ".vim/bundle/syntastic"]
#	path = .vim/bundle/syntastic
#	url = https://github.com/vim-syntastic/syntastic.git
#[submodule ".vim/bundle/vim-arduino-syntax"]
#	path = .vim/bundle/vim-arduino-syntax
#	url = https://github.com/sudar/vim-arduino-syntax
#[submodule ".vim/bundle/vim-jinja"]
#	path = .vim/bundle/vim-jinja
#	url = https://github.com/lepture/vim-jinja.git
#[submodule ".vim/bundle/vim-openscad"]
#	path = .vim/bundle/vim-openscad
#	url = https://github.com/sirtaj/vim-openscad.git
#[submodule ".vim/bundle/darcula"]
#	path = .vim/bundle/darcula
#	url = https://github.com/blueshirts/darcula.git
[submodule ".local/share/liquidprompt"]
	path = .local/share/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
	branch = stable
	shallow = true
