[core]
	excludesfile = ~/.gitignore
	commentChar = auto
[color]
	diff = true
[merge]
	tool = vimdiff
[alias]
	# Funky layout, modified from this:
	# https://stackoverflow.com/a/9074343
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	# Shows a list of change files in every stash
	stashstatus = "!f() { \
		git stash list --format='%gd: %gs' \
		| while IFS=: read -r reflogsel name; do \
			echo \"$reflogsel $name\"; \
			git stash show --name-status \"$reflogsel\"; \
		done; \
	}; f"
	# Shows commits that have been fetched but not pulled yet
	incoming = "!f() { git for-each-ref --format='%(if)%(upstream:short)%(then)%(refname:short)..%(upstream:short)%(end)' refs/heads/ | grep . | xargs -r -L1 git log --oneline --left-right; }; f"
	# Shows commits that have not been pushed yet
	outgoing = "!f() { git for-each-ref --format='%(if)%(upstream:short)%(then)%(upstream:short)..%(refname:short)%(end)' refs/heads/ | grep . | xargs -r -L1 git log --oneline --right-only; }; f"
	# Shows all pending commits
	whatsnew = "!f() { git incoming; git outgoing; }; f"
	# Show tags that exist locally but not on any remotes. Rather untested.
	# Requires doing a network request (git ls-remote) once for each remote.
	dirtytags = "!f() { \
		local=$(mktemp) || exit 1; \
		remote=$(mktemp) || { rm -f \"$local\"; exit 1; }; \
		trap 'rm -f \"$local\" \"$remote\"' EXIT; \
		git for-each-ref --format='%(refname:strip=2)' refs/tags | sort -u >\"$local\"; \
		for r in $(git remote); do \
			git ls-remote --tags \"$r\" || exit 1; \
		done | awk '$2 !~ /\\^\\{\\}$/ {sub(\"refs/tags/\", \"\", $2); print $2}' | sort -u >\"$remote\"; \
		comm -23 \"$local\" \"$remote\"; \
	}; f"
	# Show local commits that are not on any remotes, as well as uncommitted changes. Also shows stashes, as those changes can't be expected to be on a remote.
	whatsdirty = "!f() { \
		git log --branches --not --remotes --simplify-by-decoration --decorate --oneline; \
		if git rev-parse --is-inside-work-tree 2>/dev/null | grep -qF true; then \
			git -c color.status=always status --short; \
			git stashstatus; \
		fi; \
	}; f"
[push]
	default = simple
[commit]
	gpgsign = true
	verbose = true
[annex]
	sshcaching = true
	autoupgraderepository = false
[bash]
	showDirtyState=true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
[includeIf "gitdir:*"]
	path = ~/.gitconfig.local
[include]
	path = ~/.gitconfig.d/wip-workflow
[user]
	# Prevents git from trying to guess `user.name` and `user.email`,
	# instead prompting the user to take action if they're missing.
	useConfigOnly = true

