! HiDPI and font related settings
! http://vincent.jousse.org/tech/archlinux-retina-hidpi-macbookpro-xmonad/
! https://wiki.archlinux.org/index.php/HiDPI#X_Server
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
!Xft.autohint:  0
!Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.dpi:       96
!Xft.dpi:       120
!Xft.dpi:       144
!Xft.dpi:       175
!Xft.dpi:       168
!Xft.dpi:       192

xterm*faceName: Hack
xterm*faceSize: 11
xterm.vt100.faceSize1: 13
xterm.vt100.faceSize2: 15
xterm.vt100.faceSize3: 17
xterm.vt100.faceSize4: 19
xterm.vt100.faceSize5: 21
xterm.vt100.faceSize6: 23
xterm.vt100.faceSize7: 25
! Zooming with ctrl++ and ctrl+-
! Copy/pasting with ctrl+shift+c and ctrl+shift+v. An alternative to "PRIMARY" is "CLIPBOARD"
xterm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl Shift <Key> c: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key> v: insert-selection(CLIPBOARD)

